* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: rgb(10, 10, 10);
}

ul {
    list-style-position: inside
}

li {
    padding-left: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
    grid-template-areas: "header header header header header" "sidebar content content content content";
    gap: 10px;
}

/* HEADER */
.grid_header {
    grid-area: header;
    background-color: black;
    height: fit-content;
}

.header_container {
    display: flex;
    height: content;
}

.header_name {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;    
    line-height: 70px;
    font-size: 7vh;
    font-family: "Comic Sans MS", Monaco, monospace;
    font-weight: bold;
}

#menu-burger {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;  
    width: 70px;  
    height: 70px;
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    cursor: pointer;
}

.logo {
    flex-basis: 30%;
}


/* HEADER */


.grid_sidebar {
    grid-area: sidebar;
}

.grid_sidebar>* {
    margin-right: 10px;
    
}

.social_networks {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    font-family: 'Rubik Moonrocks', cursive;
}

.inst_links,
.tg_link {
    font-size: 4vh;
}

.inst_links:first-child {
    margin-right: 10px;
}

.grid_content {
    grid-area: content;
}

.content{
    font-size: 400%;
}

.content > h1 {
    text-align: center;
    font-size: 7vh
}

.food {
    display:flex;
    flex-direction: column;
}

.food_elem {
    padding-right: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    font-size: 3vh;
    margin-bottom: 10px;    
}